# TODO copy or rename this file to .env and fill in the required values

# TODO Provide an Instana agent key here. It should be one that works for the ingress configured via agent_endpoint.
agent_key_1=TODO: Provide an agent key.

# TODO: Might need to be updated. This needs to be your endpoint for the Instana host agent:
# See https://www.ibm.com/docs/en/instana-observability/current?topic=planning-preparing-endpoints-keys#endpoints-for-the-host-and-cloud-service-agents
agent_endpoint=ingress-red-saas.instana.rocks

# The port does not need to be changed.
agent_endpoint_port=443

# TODO Provide another Instana agent key here. It should be one that works for the ingress configured via
# instana_endpoint_url. In a pinch, you could use the same agent key for both.
agent_key_2=TODO: Provide an agent key.

# TODO: Might need to be updated. This needs to be your endpoint for _serverless_ monitoring:
# See https://www.ibm.com/docs/en/instana-observability/current?topic=planning-preparing-endpoints-keys#endpoints-for-serverless-monitoring
instana_endpoint_url=https://serverless-red-saas.instana.io

